* {
    box-sizing: border-box;
    text-align: center;
  }

  html {
    background-image: url("https://user-images.githubusercontent.com/45447942/52427851-05256380-2abe-11e9-996c-52c0198c7cf7.jpg");
  }

a{
  color: beige; 
}

main, header, .error-panel, .js-top-panel, .js-middle-panel, .js-bottom-panel, form {
  border: solid beige;
  background: beige;
}

input {
  border: solid, lightblue;
  background: white;
  color: navy;
}

a, label {
  background: beige;
  color: navy;
}

button {
  background: beige;
}

.js-desciption {
  background: beige;
  color: navy;
}

body {
  border: solid beige;
}

li.bookmark {
    list-style: none;
    background: navy;
  }

.js-bottom-panel {
    margin: auto;
    background-color: navy;
    font-size: 16px;
  }

li.bookmark {
  color: beige;
  }

button.js-collapse, button.js-edit {
  background: lightblue;
}

input.js-delete, button#cancel-add {
  background: darkred;
  color: white;
}

input.js-submit-edit, input.js-create-bookmark {
  background: darkgreen;
  color: white;
}

h1 {
  color: navy;
  border: hidden;
  background: beige;
}

select.js-select, button.js-add-new-button {
  background: lightblue;
}

.js-middle-panel{
  margin: 20px;
}


@media only screen and (min-width: 600px){
  .js-bottom-panel{
    font-size: 24px;  
  }
}

.js-top-panel{
  margin: 20px;
}